.table {
  & > thead {
    & > tr {
      & > th {
        line-height: 1.1;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 800;
        min-height: 3rem;
        height: 3rem;
        vertical-align: middle;
      }
    }
  }
  & > tbody, tfoot {
    & > tr {
      & > td {
        min-height: 3.5rem;
        height: 3.5rem;
        vertical-align: middle;
      }
    }
  }
}

.table {
  & > thead {
    & > tr {
      & > th.interactable {
        transition: background-color 0.3s;
        user-select: none;

        &:hover {
          background-color: rgba($primary, 0.1);
        }

        &:active {
          background-color: rgba($primary, 0.2);
        }
      }
    }
  }
}

.table-container {
  margin-bottom: 0 !important;
}

.b-table {
  @include until($tablet) {
    .table.has-mobile-cards tr {
      box-shadow: none;
  
      &:not(:last-child) {
        margin-bottom: 0;
        border-bottom: 1px solid rgba($background, 0.2);
      }
    }
  
    .field.table-mobile-sort {
      margin-left: $column-gap;
      margin-right: $column-gap;
      margin-top: $column-gap;
      margin-bottom: $column-gap;

      & + .table-wrapper {
        border-top: 1px solid rgba($background, 0.2);
      }
    }
  }

  .table-wrapper {
    margin-bottom: 0;

    & + .level {
      padding-left: $column-gap;
      padding-right: $column-gap;
      padding-top: $column-gap;
      padding-bottom: $column-gap;
    }

    .table {
      background-color: transparent;

      .detail {
        background-color: transparent;
        box-shadow: none;
        td {
          padding: 0;
          .detail-container {
            padding: 0;
          }
        }
      }
    }
  }

  &.no-padding {
    td {
      padding: 0;
    }
  }
}
